
@use "../../../../variables";

.Knowledge {
  @include flex(column, flex-start, flex-start);
  gap: 6rem;

  @include media-breakpoint-down(md) {
    gap: $spacing-48;
  }

  &__heading {
    @include media-breakpoint-down(md) {
      margin-bottom: 2rem;
    }
  }
}
