
.InformationView {
  &__hero-section {
    @include flex(row, center, center);
    margin-top: $spacing-200;

    @include media-breakpoint-down(md) {
      @include flex(column, flex-start, flex-start);
      gap: 2.5rem;
      margin-top: $spacing-140;
    }
  }

  &__left {
    width: 50%;

    padding-right: 4rem;

    @include media-breakpoint-down(md) {
      width: 100%;
      padding: 0;
    }
  }

  &__right {
    width: 50%;
    overflow: hidden;
    box-shadow: 0px 100px 250px rgba($white, 0.1);

    @include media-breakpoint-down(md) {
      width: 100%;
    }

    @include media-breakpoint-down(sm) {
      width: 100vw;
      margin-left: calc(var(--bs-gutter-x) / 2 * -1);
      margin-right: calc(var(--bs-gutter-x) / 2 * -1);
    }

    .CustomImage {
      object-fit: cover;
      object-position: center;
      width: 100%;
      height: 100%;
    }
  }

  &__subheading {
    color: $gray-1;

    margin-top: 3rem;

    @include media-breakpoint-down(md) {
      margin-top: 0;
    }
  }

  &__info-header {
    padding-left: 5rem;
    padding-top: $spacing-100;

    @include media-breakpoint-down(md) {
      padding: 0;
    }
  }

  &__heading {
    @include media-breakpoint-down(md) {
      margin: 2rem 0;
    }
  }

  &__experience-section {
    margin-top: $spacing-140;

    @include media-breakpoint-down(md) {
      margin-top: $spacing-80;
    }

    .MacWindow {
      .FactsNumbers {
        @include flex(row, flex-start, space-between);

        @include media-breakpoint-down(md) {
          @include flex(column, center, space-between);
        }
      }
    }
  }

  &__knowledge-section {
    margin-top: $spacing-200;
    margin-bottom: $spacing-200;

    @include media-breakpoint-down(md) {
      margin-top: $spacing-80;
      margin-bottom: $spacing-80;
    }
  }
}
