
.CustomButton {
  outline: none;
  background: $background-color;

  color: $gray-main;
  border: 1px solid $gray-2;
  border-radius: $btn-default-radius;

  padding: $btn-default-padding-y $btn-default-padding-x;

  text-transform: uppercase;
  font-weight: $font-weight-bolder;

  @include media-breakpoint-down(md) {
    padding: $btn-default-padding-y-mobile $btn-default-padding-x-mobile;
  }

  svg {
    margin-left: 1rem;
  }

  &:hover {
    box-shadow: 0px 7px 100px rgba($white, 0.15);
    border-color: rgba($white, 0.45);
    transition: 0.2s ease-in-out;

    color: $white;

    svg {
      transform: translateX(5px);
      transition: 0.2s ease-in-out;

      path {
        stroke: $white;
      }
    }
  }
}
