
@use "../../variables";

.CustomButton {
  outline: none;
  background: variables.$background-color;

  color: variables.$gray-main;
  border: 1px solid variables.$gray-2;
  border-radius: variables.$btn-default-radius;

  padding: variables.$btn-default-padding-y variables.$btn-default-padding-x;

  text-transform: uppercase;
  font-weight: variables.$font-weight-bolder;

  svg {
    margin-left: 1rem;
  }

  &:hover {
    box-shadow: 0px 7px 100px rgba(variables.$white, 0.15);
    border-color: rgba(variables.$white, 0.45);
    transition: 0.2s ease-in-out;

    color: variables.$white;

    svg {
      transform: translateX(5px);
      transition: 0.2s ease-in-out;

      path {
        stroke: variables.$white;
      }
    }
  }
}
