
a {
  color: $gray-1;
}

.CustomLink {
  @include font-base;

  color: $gray-main;

  list-style-type: none;
  text-decoration: none;

  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }

  &.--active {
  }
}
